language: ruby

rvm:
  - 1.9.3
  - jruby-19mode

jdk:
  - openjdk6
  - openjdk7

services:
  - rabbitmq

sudo: false

matrix:
  exclude:
    - rvm: 1.9.3
      jdk: openjdk7
    - rvm: 1.9.3
      jdk: oraclejdk7
